## Names scores

<p>Using <a href="project/resources/p022_names.txt">names.txt</a> (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.</p>
<p>For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 × 53 = 49714.</p>
<p>What is the total of all the name scores in the file?</p>

In [46]:
f = open("names.txt", "r", encoding="utf-8")
text = f.read()
f.close()   

text = text.split(",")
newtext = []
for name in text:
    name = name.strip('"')
    newtext.append(name)

In [51]:
newtext = sorted(newtext)
alp_dict = dict(zip("ABCDEFGHIJKLMNOPQRSTUVWXYZ", range(1,27)))

In [52]:
n = 1
s = 0
for name in newtext:
    ss = 0
    for letter in name:
        ss += alp_dict[letter]
    s += ss*n
    n += 1
    
print(s)

871198282

## Largest product in a grid

<p>In the 20×20 grid below, four numbers along a diagonal line have been marked in red.</p>
<p class="monospace center">
08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08<br />
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00<br />
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65<br />
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91<br />
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80<br />
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50<br />
32 98 81 28 64 23 67 10 <span class="red"><b>26</b></span> 38 40 67 59 54 70 66 18 38 64 70<br />
67 26 20 68 02 62 12 20 95 <span class="red"><b>63</b></span> 94 39 63 08 40 91 66 49 94 21<br />
24 55 58 05 66 73 99 26 97 17 <span class="red"><b>78</b></span> 78 96 83 14 88 34 89 63 72<br />
21 36 23 09 75 00 76 44 20 45 35 <span class="red"><b>14</b></span> 00 61 33 97 34 31 33 95<br />
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92<br />
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57<br />
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58<br />
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40<br />
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66<br />
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69<br />
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36<br />
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16<br />
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54<br />
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48<br /></p>
<p>The product of these numbers is 26 × 63 × 78 × 14 = 1788696.</p>
<p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?</p>

In [54]:
matrix = [
[8, 2, 22, 97, 38, 15, 0, 40, 0, 75, 4, 5, 7, 78, 52, 12, 50, 77, 91, 8],
[49, 49, 99, 40, 17, 81, 18, 57, 60, 87, 17, 40, 98, 43, 69, 48, 4, 56, 62, 0],
[81, 49, 31, 73, 55, 79, 14, 29, 93, 71, 40, 67, 53, 88, 30, 3, 49, 13, 36, 65],
[52, 70, 95, 23, 4, 60, 11, 42, 69, 24, 68, 56, 1, 32, 56, 71, 37, 2, 36, 91],
[22, 31, 16, 71, 51, 67, 63, 89, 41, 92, 36, 54, 22, 40, 40, 28, 66, 33, 13, 80],
[24, 47, 32, 60, 99, 3, 45, 2, 44, 75, 33, 53, 78, 36, 84, 20, 35, 17, 12, 50],
[32, 98, 81, 28, 64, 23, 67, 10, 26, 38, 40, 67, 59, 54, 70, 66, 18, 38, 64, 70],
[67, 26, 20, 68, 2, 62, 12, 20, 95, 63, 94, 39, 63, 8, 40, 91, 66, 49, 94, 21],
[24, 55, 58, 5, 66, 73, 99, 26, 97, 17, 78, 78, 96, 83, 14, 88, 34, 89, 63, 72],
[21, 36, 23, 9, 75, 0, 76, 44, 20, 45, 35, 14, 0, 61, 33, 97, 34, 31, 33, 95],
[78, 17, 53, 28, 22, 75, 31, 67, 15, 94, 3, 80, 4, 62, 16, 14, 9, 53, 56, 92],
[16, 39, 5, 42, 96, 35, 31, 47, 55, 58, 88, 24, 0, 17, 54, 24, 36, 29, 85, 57],
[86, 56, 0, 48, 35, 71, 89, 7, 5, 44, 44, 37, 44, 60, 21, 58, 51, 54, 17, 58],
[19, 80, 81, 68, 5, 94, 47, 69, 28, 73, 92, 13, 86, 52, 17, 77, 4, 89, 55, 40],
[4, 52, 8, 83, 97, 35, 99, 16, 7, 97, 57, 32, 16, 26, 26, 79, 33, 27, 98, 66],
[88, 36, 68, 87, 57, 62, 20, 72, 3, 46, 33, 67, 46, 55, 12, 32, 63, 93, 53, 69],
[4, 42, 16, 73, 38, 25, 39, 11, 24, 94, 72, 18, 8, 46, 29, 32, 40, 62, 76, 36],
[20, 69, 36, 41, 72, 30, 23, 88, 34, 62, 99, 69, 82, 67, 59, 85, 74, 4, 36, 16],
[20, 73, 35, 29, 78, 31, 90, 1, 74, 31, 49, 71, 48, 86, 81, 16, 23, 57, 5, 54],
[1, 70, 54, 71, 83, 51, 54, 69, 16, 92, 33, 48, 61, 43, 52, 1, 89, 19, 67, 48]
]

prod = 0
for i in range(20):
    for j in range(17):
        tmp1 = matrix[i][j]*matrix[i][j+1]*matrix[i][j+2]*matrix[i][j+3]
        prod = max(prod, tmp1)
    
for i in range(17):
    for j in range(17):
        tmp2 = matrix[i][j]*matrix[i+1][j+1]*matrix[i+2][j+2]*matrix[i+2][j+3]
        prod = max(prod, tmp2)     
    for j in range(20):
        tmp3 = matrix[i][j]*matrix[i+1][j]*matrix[i+2][j]*matrix[i+3][j]
        prod = max(prod, tmp3)
    for j in range(19,2,-1):
        tmp4 = matrix[i][j]*matrix[i+1][j-1]*matrix[i+2][j-2]*matrix[i+3][j-3]
        prod = max(prod, tmp4)
print(prod)

70600674

## Distinct powers

<p>Consider all integer combinations of <i>a</i><sup><i>b</i></sup> for 2 ≤ <i>a</i> ≤ 5 and 2 ≤ <i>b</i> ≤ 5:</p>
<blockquote>2<sup>2</sup>=4, 2<sup>3</sup>=8, 2<sup>4</sup>=16, 2<sup>5</sup>=32<br />
3<sup>2</sup>=9, 3<sup>3</sup>=27, 3<sup>4</sup>=81, 3<sup>5</sup>=243<br />
4<sup>2</sup>=16, 4<sup>3</sup>=64, 4<sup>4</sup>=256, 4<sup>5</sup>=1024<br />
5<sup>2</sup>=25, 5<sup>3</sup>=125, 5<sup>4</sup>=625, 5<sup>5</sup>=3125<br /></blockquote>
<p>If they are then placed in numerical order, with any repeats removed, we get the following sequence of 15 distinct terms:</p>
<p class="center">4, 8, 9, 16, 25, 27, 32, 64, 81, 125, 243, 256, 625, 1024, 3125</p>
<p>How many distinct terms are in the sequence generated by <i>a</i><sup><i>b</i></sup> for 2 ≤ <i>a</i> ≤ 100 and 2 ≤ <i>b</i> ≤ 100?</p>

In [55]:
pow_set = set()
for a in range(2, 101):
    for b in range(2, 101):
        pow_set.add(a**b)
print(len(pow_set))

9183

## Pandigital products

<p>We shall say that an <var>n</var>-digit number is pandigital if it makes use of all the digits 1 to <var>n</var> exactly once; for example, the 5-digit number, 15234, is 1 through 5 pandigital.</p>

<p>The product 7254 is unusual, as the identity, 39 × 186 = 7254, containing multiplicand, multiplier, and product is 1 through 9 pandigital.</p>

<p>Find the sum of all products whose multiplicand/multiplier/product identity can be written as a 1 through 9 pandigital.</p>

<div class="note">HINT: Some products can be obtained in more than one way so be sure to only include it once in your sum.</div>

In [58]:
result = set()
for i in range(1,10):
    for j in range(1000,9999):
        tmp = i*j
        if tmp < 9999:
            tmp_str = str(i)+str(j)+str(tmp)
            if set(tmp_str)==set("123456789"):
                result.add(tmp)

In [59]:
for i in range(10,99):
    for j in range(100,999):
        tmp = i*j
        if tmp < 9999:
            tmp_str = str(i)+str(j)+str(tmp)
            if set(tmp_str)==set("123456789"):
                 result.add(tmp)

In [61]:
sss = 0
for el in result:
    sss+=el
sss

45228

## Largest exponential

<p>Comparing two numbers written in index form like 2<sup>11</sup> and 3<sup>7</sup> is not difficult, as any calculator would confirm that 2<sup>11</sup> = 2048 &lt; 3<sup>7</sup> = 2187.</p>
<p>However, confirming that 632382<sup>518061</sup> &gt; 519432<sup>525806</sup> would be much more difficult, as both numbers contain over three million digits.</p>
<p>Using <a href="project/resources/p099_base_exp.txt">base_exp.txt</a> (right click and 'Save Link/Target As...'), a 22K text file containing one thousand lines with a base/exponent pair on each line, determine which line number has the greatest numerical value.</p>
<p class="smaller">NOTE: The first two lines in the file represent the numbers in the example given above.</p>

In [85]:
import math

In [87]:
f = open("base_exp.txt", "r", encoding="utf-8")
text = f.read()
f.close()   

newtext = []
text = text.split("\n")
for line in text:
    line = line.split(",")
    newtext.append([int(x) for x in line])

loglist = []
for line in newtext:
    loglist.append(line[1]*math.log2(line[0]))
print(loglist.index(max(loglist))+1)

709

## Circular primes


<p>The number, 197, is called a circular prime because all rotations of the digits: 197, 971, and 719, are themselves prime.</p>
<p>There are thirteen such primes below 100: 2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79, and 97.</p>
<p>How many circular primes are there below one million?</p>

In [96]:
def rotate(line):
    return line[1:]+line[0]

def is_prime(n):
    if n <= 1: return False
    if n <= 3: return True
    if n%2==0 or n%3 == 0: return False
    r = int(n**0.5)
    f = 5
    while f <= r:
        if n%f == 0 or n%(f+2) == 0: return False
        f+= 6
    return True

In [95]:
primes = set()
for i in range(1000000):
    line = str(i)
    curset = set()
    while line not in curset:
        curset.add(line)
        line = rotate(line)
    flag = 1
    for el in curset:
        if not is_prime(int(el)):
            flag = 0
            break
    if flag:
        primes.add(i)
print(len(primes))

55

## Distinct primes factors

<p>The first two consecutive numbers to have two distinct prime factors are:</p>
<p class="margin_left">14 = 2 × 7<br />15 = 3 × 5</p>
<p>The first three consecutive numbers to have three distinct prime factors are:</p>
<p class="margin_left">644 = 2² × 7 × 23<br />645 = 3 × 5 × 43<br />646 = 2 × 17 × 19.</p>
<p>Find the first four consecutive integers to have four distinct prime factors each. What is the first of these numbers?</p>

In [97]:
def factors(n):
    flist = []
    i = 2
    while i <= n:
        if not n%i:
            flist += [i]
            n = n//i
        else:
            i += 1
    return flist

In [116]:
i = 1
while False:
    f1 = set(factors(i))
    f2 = set(factors(i+1))
    if len(f1)==4 and len(f2)==4:
        f3 = set(factors(i+2))
        f4 = set(factors(i+3))
        if len(f3)== 4 and len(f4)==4:
            print(i)
            break
    i+=1
#ужасно долго False
#134043

## Pandigital multiples

<p>Take the number 192 and multiply it by each of 1, 2, and 3:</p>
<blockquote>192 × 1 = 192<br />
192 × 2 = 384<br />
192 × 3 = 576</blockquote>
<p>By concatenating each product we get the 1 to 9 pandigital, 192384576. We will call 192384576 the concatenated product of 192 and (1,2,3)</p>
<p>The same can be achieved by starting with 9 and multiplying by 1, 2, 3, 4, and 5, giving the pandigital, 918273645, which is the concatenated product of 9 and (1,2,3,4,5).</p>
<p>What is the largest 1 to 9 pandigital 9-digit number that can be formed as the concatenated product of an integer with (1,2, ... , <var>n</var>) where <var>n</var> &gt; 1?</p>

In [117]:
def is_pandigital(n, s=9): 
    n=str(n)
    return len(n)==s and not '1234567890'[:s].strip(n)

In [118]:
res = set()
for i in range(1000, 10000):
    abcd = i*1
    efghi = i*2
    n = int(str(abcd)+str(efghi))
    if is_pandigital(n):
        res.add(n)
for i in range(100, 1000):
    abc = i*1
    dEf = i*2
    ghi = i*3
    n = int(str(abc)+str(dEf)+str(ghi))
    if is_pandigital(n):
        res.add(n)
for i in range(10,100):
    ab = i*1
    cd = i*2
    ef = i*3
    ghi = i*4
    n = int(str(ab)+str(cd)+str(ef)+str(ghi))
    if is_pandigital(n):
        res.add(n)
for i in range(1,10):
    a = i*1
    bc = i*2
    de = i*3
    fg = i*4
    hi = i*5
    n = int(str(a)+str(bc)+str(de)+str(fg)+str(hi))
    if is_pandigital(n):
        res.add(n)
for i in range(1,10):
    a = i*1
    b = i*2
    c = i*3
    de = i*4
    fg = i*5
    hi = i*6
    n = int(str(a)+str(b)+str(c)+str(de)+str(fg)+str(hi))
    if is_pandigital(n):
        res.add(n)
for i in range(1,10):
    a = i*1
    b = i*2
    c = i*3
    d = i*4
    e = i*5
    fg = i*6
    hi = i*7
    n = int(str(a)+str(b)+str(c)+str(d)+str(e)+str(fg)+str(hi))
    if is_pandigital(n):
        res.add(n)   
print(max(res))

932718654

## Coded triangle numbers

<p>The <i>n</i><sup>th</sup> term of the sequence of triangle numbers is given by, <i>t<sub>n</sub></i> = ½<i>n</i>(<i>n</i>+1); so the first ten triangle numbers are:</p>
<p class="center">1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...</p>
<p>By converting each letter in a word to a number corresponding to its alphabetical position and adding these values we form a word value. For example, the word value for SKY is 19 + 11 + 25 = 55 = <i>t</i><sub>10</sub>. If the word value is a triangle number then we shall call the word a triangle word.</p>
<p>Using <a href="project/resources/p042_words.txt">words.txt</a> (right click and 'Save Link/Target As...'), a 16K text file containing nearly two-thousand common English words, how many are triangle words?</p>

In [123]:
f = open("words.txt", "r", encoding="utf-8")
text = f.read()
f.close()   

len_list = []
text = text.split(",")
newtext = []
for name in text:
    name = name.strip('"')
    len_list.append(len(name))
    newtext.append(name)
maxlen = max(len_list)

In [126]:
alp_dict = dict(zip("ABCDEFGHIJKLMNOPQRSTUVWXYZ", range(1,27)))

In [131]:
num = 26*maxlen
tr = set()
n = 1
curnum = 0
while curnum < num:
    curnum = (n*(n+1))//2
    tr.add(curnum)
    n+=1

In [132]:
count = 0
for name in newtext:
    s = 0
    for letter in name:
        s += alp_dict[letter]
    if s in tr:
        count+=1

print(count)

162

## Non-abundant sums

<p>A perfect number is a number for which the sum of its proper divisors is exactly equal to the number. For example, the sum of the proper divisors of 28 would be 1 + 2 + 4 + 7 + 14 = 28, which means that 28 is a perfect number.</p>
<p>A number <var>n</var> is called deficient if the sum of its proper divisors is less than <var>n</var> and it is called abundant if this sum exceeds <var>n</var>.</p>

<p>As 12 is the smallest abundant number, 1 + 2 + 3 + 4 + 6 = 16, the smallest number that can be written as the sum of two abundant numbers is 24. By mathematical analysis, it can be shown that all integers greater than 28123 can be written as the sum of two abundant numbers. However, this upper limit cannot be reduced any further by analysis even though it is known that the greatest number that cannot be expressed as the sum of two abundant numbers is less than this limit.</p>
<p>Find the sum of all the positive integers which cannot be written as the sum of two abundant numbers.</p>

In [183]:
import math
def divisors(n):
    divs = [1]
    for i in range(2,int(math.sqrt(n))+1):
        if n%i == 0:
            divs.extend([i,n//i])
    return list(set(divs))

In [178]:
NUM = 28124
pos = [False]*NUM
abset = set()
for i in range(1, NUM):
    if sum(divisors(i)) > i:
        abset.add(i)

In [180]:
for addend1 in abset:
    for addend2 in abset:
        if addend1+addend2 < NUM:
            pos[addend1+addend2] = True
s = sum(i for (i,x) in enumerate(pos) if not x)
s

4179871

## Amicable numbers

<p>Let d(<i>n</i>) be defined as the sum of proper divisors of <i>n</i> (numbers less than <i>n</i> which divide evenly into <i>n</i>).<br />
If d(<i>a</i>) = <i>b</i> and d(<i>b</i>) = <i>a</i>, where <i>a</i> ≠ <i>b</i>, then <i>a</i> and <i>b</i> are an amicable pair and each of <i>a</i> and <i>b</i> are called amicable numbers.</p>
<p>For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. The proper divisors of 284 are 1, 2, 4, 71 and 142; so d(284) = 220.</p>
<p>Evaluate the sum of all the amicable numbers under 10000.</p>

In [185]:
def d(n):
    return sum(divisors(n))

In [191]:
amicable = set()
for i in range(2, 10000):
    d1 = d(i)
    if d(d1) == i and d1 != i:
        amicable.add(i)
        amicable.add(d1)
print(sum(amicable))
amicable

31626

{220, 284, 1184, 1210, 2620, 2924, 5020, 5564, 6232, 6368}

##  Number letter counts

<p>If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.</p>
<p>If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used? </p>
<br /><p class="note"><b>NOTE:</b> Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.</p>

In [10]:
digitsteens = {1:"one", 2:"two", 3:"three", 4:"four", 5:"five", 6:"six", 7:"seven", 8:"eight", 9:"nine", 10: "ten", 11:"eleven", 12:"twelve", 13:"thirteen", 14:"fourteen", 15:"fifteen", 16:"sixteen", 17:"seventeen", 18:"eighteen", 19:"nineteen"}
tens = {2:"twenty", 3:"thirty", 4:"forty", 5:"fifty", 6:"sixty", 7:"seventy", 8:"eighty", 9:"ninety"}
"hundred", "thousand";

In [19]:
cntstr = ""
for i in range(1,1001):
    if i == 1000:
        cntstr += "onethousand"
        continue
    elif i < 20:
        cntstr += digitsteens[i]
        continue
    else:
        h = i//100
        if h != 0:
            cntstr += digitsteens[h] + "hundred" 
        i -= h*100
        if i < 20 and i :
            cntstr += "and" + digitsteens[i]
            continue
        t = i//10
        if t != 0:
            cntstr += tens[t]
        d = i%10
        if d != 0:
            cntstr += digitsteens[d]
        if h and (d or t):
             cntstr += "and"
        
print(len(cntstr))

21124